body, p, h1, ul, li, blockquote {
  padding: 0px;
  margin: 0px
}

body {
  font-family: "Volkorn", Georgia, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  border-radius: 5px;
}

/* GRID GERAL */

.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    "header header header"
    "sidenav content anuncios"
    "footer footer footer"
  ;
}

/*HEADER*/

.header {
  grid-area: header;
  background: linear-gradient(135deg, #8844ee, #B07DFB);
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  max-width: 200px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header nav a {
  display: block;
  padding: 10px;
  color: white;
  font-size: 1.125em;
  background: rgba(0,0,0,.1);
  border-radius: 5px;
  transition: 0.1s;
}

.header nav a:hover {
  background: rgba(0,0,0,.5);
}

.header li + li {
  margin-left: 30px;
}

/*SIDENAV */

.sidenav {
  grid-area: sidenav;
  background: #fafbfc;
  padding: 30px;
}

.sidenav li a{
  display: block;
  min-width: 60px;
  max-width: 100px;
  margin: 0 auto 30px auto;
  padding: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0,.5);
  transition: .1s ease-out;
  border-radius: 5px;
}

.sidenav li a:hover{
  background: #B07DFB ;
}

/*CONTENT */
.content {
  grid-area: content;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/*faz o elemento ocupar todas as colunas do grid*/
.col-wide{
  grid-column: 1 / -1;
}

/*a imagem ocupa duas linhas */
.imagem-1{
  grid-row: span 2;
  align-self: end;
}

.imagem-2{
  align-self: end;
}

/*ESTILOS GERAIS DO CONTENT*/
p{
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: -0.005em;
  color: rgba(0, 0 , 0, 0.7);
}

/*todo p que e seguido de outro p tera margin top*/
.informacoes p + p{
  margin-top: 30px;
}

/*TITULO*/
.titulo{
  color: #B07DFB;
}
.titulo h1{
  font-size: 3.75em;
  font-weight: 700;
  line-height: 1;
}
.titulo span{
  font-size: 0.875em;
  font-style: italic;
}

/*CARACTERISTICAS*/
.caracteristicas{
  display: flex;
  align-items: flex-start;
}
.caracteristicas > div:first-child{
  margin-right: 30px;
}
.caracteristicas > div{
  background: linear-gradient(135deg, #8844ee, #B07DFB);
  width: 80px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0,0,0,.5);
  /*Pra eu poder descer um pouquinho o rotulo */
  position: relative;
}
.caracteristicas span{
  display: block;
  color:#B07DFB ;
}
.numero{
  font-size: 3em;
  line-height: 1;
  margin: 10px auto;
}
.rotulo{
  background: white;
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
    /*Pra eu poder descer um pouquinho o rotulo */
    position: relative;
    top: 2px;
}
.destaque{
  font-size: 0.875em;
  color: #B07DFB;
  max-width: 16em;
}
.citacao, .atributos{
  background: linear-gradient(135deg, #8844ee, #B07DFB);
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0,0,0,.5);
  padding: 30px;
  align-items: center;
}
.citacao p{
  color: white;
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  max-width: 0 auto;
  margin: 0 auto;
}
.atributos li{
  color: white;
  font-family: Courier, monospace;
  font-size: 1.125em;
  padding: 15px;
}
.atributos li + li{
  border-top: 2px solid #B07DFB;
}
.atributos{
  align-self: start;
}

/*SIDENAV */
.anuncios {
  grid-area: anuncios;
  display: grid;
  background: #fafbfc;
  align-content: start;
  padding: 30px;
  gap: 30px;
}

/*FOOTER */
.footer {
  grid-area: footer;
  background: linear-gradient(135deg, #8844ee, #B07DFB);
}

.footer p{
  color: white;
  text-align: center;
  padding: 30px;
}